/* 
* {
    outline: 2px solid blue;
  }
  
 */







.body{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: justify;
    
}

.main-title{
    margin: 15px auto;
    padding: 5px;
    width: fit-content;
    height: auto;

    text-align: center;
    background-color: rgb(31, 31, 39);
    font-size: 40px;
    font-weight: 1000;
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    
}


.small-title{
    padding: 5px;
    width:fit-content;
    height: auto;
    margin: 22px auto;


    font-size: 26px;
    font-weight: 600;
    color: aquamarine;
    background-color: rgba(0, 0, 0, 0.822);
    text-align: center;
}

.list1{
text-align: center;
background-color: rgb(141, 221, 214);
border: inset rgb(12, 18, 51);



display: block;
padding: 5px;
width: fit-content;
height:auto;
margin:26px auto;

}

.ul1{
    text-align: left;
}


.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;

  
 
}

#salata,#saganaki,#rizogalo{
    width: 310px;
    height: auto;
}

